<%@words.each do |word|%>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4"><%=word.anglisy%></div>
        <div class="col-4"><%=word.malagasy%></div>
        <div class="col-2"></div>
    </div>
<%end%>