    <section class="fdb-block" style="background-image: url(./6.svg);">
      <div class="container">
        <div class="row-70"></div>
    
        <div class="row text-center justify-content-sm-center no-gutters">
          <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
            <div class="fdb-box fdb-touch">
              <h2>Lesson 1</h2>
              <p>Countryside and Town.</p>
              <p class="mt-4"><a href="/lessons/1">Learn More <i class="fas fa-angle-right"></i></a></p>
            </div>
          </div>
          <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
            <div class="fdb-box fdb-touch">
              <h2>Lesson 2</h2>
              <p>Tutorial in english.</p>
              <p class="mt-4"><a href="/lessons/2">Learn More <i class="fas fa-angle-right"></i></a></p>
            </div>
          </div>
          <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
            <div class="fdb-box fdb-touch">
              <h2>Lesson 3</h2>
              <p>Show the office</p>
              <p class="mt-4"><a href="/lessons/3">Learn More <i class="fas fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>