  <section class="fdb-block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-left">
            <h1>Cities, Small Towns and Suburbs</h1>
            <h2 class="lead">How are community differents?</h2>
            <p>All communities are not the same. You will learn about the three different kinds of communities in this lesson. They are called urban, rural and suburban.</p>
            <h2 class="lead">I. Urban Communities</h2>
            <h3>1. Cities or towns are urban communities</h3>
            <p>Cities have lots of buildings and people. People often walk from place to place in a city. Sometimes they take a bus or taxi. Many people ride trains from one part of a city to another. Some people drive cars or bikes. People live in appartements in cities. There might be 50 or more homes in an appartment building. Where do you live?</p>
            <h3>2. Living in Urban communities</h3>
            <p>Cities are exciting. There are many stores and restaurants in a city. There are park and playgrounds, too. Most of the headquarter of  the great companies are there. There also many job there.</p>
            <p>Sometimes, cities are noisy. Cars honk their horns because of the traffic dram. People sing. Babies cry. Dogs bark. There are crowds in a city. There are lots of people on the sidewalks. Stores and restaurants are busy places, too. What do you like about cities?</p>
            <img src="../city.jpg" style="width: 100%;">
            <sub>source: www.pexel.com</sub>
            <!-- Small towns community -->
            <h2 class="lead">II. Rural Communities</h2>
            <h3>1. Small towns are rural communities</h3>
            <p>Small towns are in the contryside. They are far from cities. Small towns have fewer people than cities. Everybody knows their neightbors in a small town. Smalll towns might have just on store. There maybe a post office, bank and a school.</p>
            <h3>2. Living in Rural communities</h3>
            <p>Many people live and work on farms in rural communities. They drive to the store and the post office. Kids walk by foot when they go to school. There are different ways to have fun in a small town. In a city, you might visit a big aquarium. In a small town, you might go fishing. What would you do in small town.</p>
            <img src="../small_town.jpg" style="width: 100%;">
            <sub>source: www.pexel.com</sub>
            <!-- suburb community -->
            <h2 class="lead">III. Suburban Communities</h2>
            <h3>1. Suburbs are suburban communities</h3>
            <p>Suburbs are smaller than cities. They are bigger than small towns. There are neighbourhoods full home in suburbs. There are school, fire stations, police stations and hospitals. There are stores and gas stations. There are parks and other places to play.</p>
            <h3>2. Living in Suburban communities</h3>
            <p>Many families live in suburbs. Some people live in a houses. Some people live in appartments. Lots of home have yards. Most people drive cars in a suburb. People drive to work. They drive to shopping malls. There are lots of parking in suburbs. What else might you see in a suburb?</p>
            <img src="../suburb.jpg" style="width: 100%;">
            <sub>source: www.pexel.com</sub>
          </div>
        </div>
      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
      <p><a href="/lessons/2">Lesson 2 <i class="fas fa-angle-right"></i></a></p>
    </div>
    </section>