<section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h1>Ny fanontanina miatomboka amin'ny Wh(Wh-Question)</h1>
          <p class="lead">Ny "Wh-Question"  dia anisany tena fampiasa amin'ny fametrahana fanontaniana amin'ny anglisy.</p>
          <h2>Fitsipika</h2>
          <p>Mialohan'ny tena hidirantsika amin'ny votoatony. Andeha aloha resahina vetivety ny fitsipika mifehy ny fanontaniana miatomboka amin'ny "Wh". Ny horesahina eto dia fitsipika amin'ny ankapobeany ihany.</p>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-md-9 bg-dark rounded"><strong>Wh   +   "do/did"   +   Mpisolotena Tampisaka    +   Matoanteny + Fanampy?</strong></div>
            <div class="col-1"></div>
          </div>
          <p>Misy ny matoanteny tsy manaraka io fitsipika io. Ao anatin'izany ny matoanteny "be".</p>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-md-9 bg-dark rounded"><strong>Wh   +   "be"   +   Mpisolotena Tampisaka    +   Matoanteny + Fanampy?</strong></div>
            <div class="col-1"></div>
          </div>
          <h2>1. What</h2>
          <p>Ampiasaina ny "what" rehefa hanontany ny andinindiny momban'ny zavatra iray.<br/>
             Fanontaninana mitovy aminy: Inona? 
          </p>
          <div class="row">
            <div class="col"><p>Ohatra: Inona no ataonao izao?</p></div>
            <div class="col"><p>Example: What are you doing now?</p></div>
          </div>
          <h2>2. Where</h2>
          <p>Ampiasaina ny "where" rehefa hanontany toerana. <br/>
          Fanontanina mitovy aminy: Aiza?</p>
          <div class="row">
            <div class="col"><p>Ohatra: Aiza ianao no mianatra?</p></div>
            <div class="col"><p>Example: Where do you study?</p></div>
          </div>
          <h2>3. When</h2>
          <p>Ampiasaina ny "when" rehefa hanontany fotoana. <br/>
          Fanontanina mitovy aminy: Oviana?</p>
          <div class="row">
            <div class="col"><p>Ohatra: Oviana no miverina ianao?</p></div>
            <div class="col"><p>Example: When do you return?</p></div>
          </div>
          <h2>4. Who/Whom</h2>
          <p>Ampiasaina ny "who/whom" rehefa hanontany olona iray na maromaro. <br/> Ny "Who" fanontaniana momban'ny olona manatanteraka. <br/> Fa ny "Whom" kosa dia mahakasika ny olona iantefan'ny resaka.<br/>
          <p>Fanontanina mitovy aminy: Iza?</p>
          <div class="row">
            <div class="col"><p>Ohatra: Iza moa ianao?</p></div>
            <div class="col"><p>Example: Who are you?</p></div>
          </div>
          <div class="row">
            <div class="col"><p>Ohatra: Iza no miresaka aminao?</p></div>
            <div class="col"><p>Example: With Whom do you talk?</p></div>
          </div>
          <h2>5. Which</h2>
          <p>Ampiasaina ny "which" rehefa hanontany ny safidy manoloana ny zavatra roa na maromaro voaisa.<br/>
          <p>Fanontaniana mitovy aminy: Aiza amin'ireo/ Iza amin'ireo</p>
          <div class="row">
            <div class="col"><p>Ohatra: Aiza amin'ireo 3 ireo no fiaranao?</p></div>
            <div class="col"><p>Example: Which of these 3 is your car?</p></div>
          </div>
          <h2>6. Whose</h2>
          <p>Ampiasaina ny "whose" rehefa hanontany fananan'ny olona iray. 
          <p>Fanontanina mitovy aminy: An'iza?</p>
          <div class="row">
            <div class="col"><p>Ohatra: An'iza ity finday ity?</p></div>
            <div class="col"><p>Example: Whose phone is this?</p></div>
          </div>
          <h2>7. Why</h2>
          <p>Ampiasaina ny "why" rehefa hanontany anton'ny zavatra anankiray. <br/>
          Fanontanina mitovy aminy: Nahoana?/Maninona?</p>
          <div class="row">
            <div class="col"><p>Ohatra: Nahoana ianao no tara?</p></div>
            <div class="col"><p>Example: Why are you late?</p></div>
          </div>
          <h2>8. How</h2>
          <p>Ampiasaina ny "how" rehefa hanontany fomba fisehon-javatra.
          <p>Fanontanina mitovy aminy: Ahoana?/Manahoana?</p>
          <div class="row">
            <div class="col"><p>Ohatra: Ahoana ianao izao?</p></div>
            <div class="col"><p>Example: How are you now?</p></div>
          </div>
          <p>Ny "how" dia manana fanampim-panontaniana be dia be. <br> Hotanisaintsika etsy abany ny sasantsasany amin'izany</p>
          <h3>A. How Old</h3>
          <p>Ampiasaina ny "how old" rehefa hanontany taona. <br> Mety ho taonan'ny olona na taonan'ny zavatra iray.</p>
          <div class="row">
            <div class="col"><p>Ohatra: Firy taona ianao?</p></div>
            <div class="col"><p>Example: How old are you?</p></div>
          </div>
          <h3>B. How Long</h3>
          <p>Ampiasaina ny "how long" rehefa hanontany momban'ny faharetanan'ny fotoana nanaovana zavatra iray.</p>
          <div class="row">
            <div class="col"><p>Ohatra: Hafiriana ianao no niasa tato?</p></div>
            <div class="col"><p>Example: How long have you been working here?</p></div>
          </div>
          <h3>C. How Far</h3>
          <p>Ampiasaina ny "how far" rehefa hanontany ny elanelan'ny toerana anankiray na ny halavirany.</p>
          <div class="row">
            <div class="col"><p>Ohatra: Firy ?</p></div>
            <div class="col"><p>Example: How far is Ambojatovo from here?</p></div>
          </div>
          <h3>D. How Many/ How Much</h3>
          <p>Ampiasaina ny "how many" rehefa hanontany momban'ny isa na olona na zavatra.</p>
          <p>Ampiasaina ny "how much" rehefa hanontany momban'ny vidin-javatra.</p>
          <div class="row">
            <div class="col"><p>Ohatra: Firy ny isan'ny iray tampo aminao?</p></div>
            <div class="col"><p>Example: How many sublings do you have?</p></div>
          </div>
          <div class="row">
            <div class="col"><p>Ohatra: Ohatrinona no vola anananao?</p></div>
            <div class="col"><p>Example: How much money do you have?</p></div>
          </div>
          <h3>E. How Deep</h3>
          <p>Ampiasaina ny "how deep" rehefa hanontany ny halalin'ny zavatra iray.</p>
          <div class="row">
            <div class="col"><p>Ohatra: Firy metatra ny halalan'io renirano io?</p></div>
            <div class="col"><p>Example: How deep is this river?</p></div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
        <p><a href="/lessons/1">Lesson 1 <i class="fas fa-angle-right"></i></a></p>
      </div>  
      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
        <p><a href="/lessons/3">Lesson 3 <i class="fas fa-angle-right"></i></a></p>
      </div>
    </div>
  </div>
</section>